<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3 letra">Entrar</h1>

                    <!----Formulário de Acesso do usuário----->
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)] ='usuarioLogin.usuario'class="form-control letra form" type="text" name="usuario" id="usuario"
                            placeholder="Seu usuario">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input [(ngModel)] ='usuarioLogin.senha'class="form-control letra form" type="password" name="senha" id="senha"
                            placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary round letra" (click)='entrar()'>Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <!----Link para a página de Cadastrar----->
                    <p class="text-center">
                        Não tem uma conta? <a routerLink='/cadastrar'>Cadastra-se</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-bg"></div>

    </div>
</div>