.fundo{
    background-color: #880E4F;
}
.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}
.btn.btn-primary{
    background-color: #880E4F;
    border-radius: 100px;
}
.form{
    border-color:white;
}
.borda{
    border-color: #880E4F;
}