#img-bg{
    background-image: url('https://i.imgur.com/IlML3Nz.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn.btn-primary{
    background-color: #880E4F;
    border-radius: 100px;
}
.letra{
    font-family: 'Amatic SC', cursive;
}
.form{
    border-color: #880E4F;
}
